/* Background */
body {

    background: linear-gradient(113.61deg,#110F0F 37.34%, #2F2F2F 101.1%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;


}